* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("../../img/fundo.png"); /* Certifique-se de que o caminho está correto */
  background-size: cover; /* Redimensiona a imagem para cobrir toda a área do body */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-position: center center; /* Centraliza a imagem na tela */
  background-attachment: fixed; /* Mantém a imagem fixa enquanto o conteúdo rola */
  color: whitesmoke; /* Cor do texto */
  height: 100%; /* Garante que o body ocupe a altura total da viewport */
  margin: 0;
}

header h3 {
  top: 10%;
  left: 43.5%;
  position: absolute;
}

header button {
  top: 70.5%;
  right: 48.8%;
  position: absolute;
  color: #980000; /*#980000*/
  background-color: transparent;
  padding: 7px 8px; /* define o espaço interno  do botão em 10px (verical) e 20px (horizontal) */
  border-radius: 10px; /* arredonda os cantos do botão */
  border-color: transparent;
  cursor: pointer; /* define o cursor como ponteiro ao passar pelo botão */
  text-decoration: underline;
}

section img {
  position: absolute;
  left: 40%;
  top: 38.9%;
  width: 14%;
}

.rectangle {
  position: absolute; /* Posiciona o retângulo vertical em relação ao body */
  top: 33.5%;
  left: 37.9%;
  width: 245px; /* Largura do retângulo vertical */
  height: 267px; /* Altura do retângulo vertical */
  background-color: #d9d9d9; /* Cor de fundo do retângulo, ajustável conforme necessário */
  border-radius: 10px; /* Bordas arredondadas */
  z-index: 0; /* Faz com que o retângulo esteja na frente do fundo */
}

main section form {
  position: absolute;
  top: 43.5%;
  left: 41.45%;
}

main section form button[type="submit"] {
  font-family: "Arial", sans-serif; /* Fonte do botão */
  font-size: 16px; /* Tamanho da fonte */
  color: #fff; /* Cor do texto */
  background-color: #ff2424; /* Cor de fundo */
  border: none; /* Remove a borda padrão */
  border-radius: 5px; /* Arredondamento dos cantos */
  padding: 6px 12px; /* Espaço interno do botão */
  cursor: pointer; /* Muda o cursor ao passar sobre o botão */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
  text-align: center;
  position: absolute;
  left: 5%;
  top: 100%;
}

main section button{
    font-family: "Arial", sans-serif; /* Fonte do botão */
    font-size: 16px; /* Tamanho da fonte */
    color: #fff; /* Cor do texto */
    background-color: rgb(211, 27, 27); /* Cor de fundo */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Arredondamento dos cantos */
    padding: 8px 16px; /* Espaço interno do botão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
    text-align: center;
    position: absolute;
    right: 5%;
    top: 5%;
}

label {
  font-family: "Arial", sans-serif; /* Fonte do label */
  font-size: 14px; /* Tamanho da fonte */
  color: #b0b0b0; /* Cor do texto */
  display: block; /* Faz o label ocupar uma linha inteira */
  margin-bottom: 5px; /* Espaço abaixo do label */
  justify-content: center;
  position: absolute;
  border-radius: 20px;
}
