* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("./img/fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: whitesmoke;
  height: 100%;
  margin: 0;
}

header {
  background-color: #c41212;
  padding: 1.1%;
  border-bottom: 3px solid whitesmoke;
}

header .botao-home {
  display: flex;
  align-items: end;
  justify-content: end;
}

header .botao-home button {
  background-color: transparent;
  border: transparent;
}

header .botao-home button img {
  width: 50px;
  height: auto;
}

header .botao-login button {
  background-color: rgb(255, 0, 0);
  color: whitesmoke;
  border-color: transparent;
  padding: 0.8%;
  border-radius: 7px;
  position: absolute;
  right: 2%;
  top: 3%;
  align-items: center;
  font-weight: bold;
  font-size: small;
}

header .botao-cadastre-se-inicial button {
  background-color: rgb(255, 0, 0);
  color: whitesmoke;
  border-color: transparent;
  padding: 0.8%;
  border-radius: 7px;
  position: absolute;
  right: 8%;
  top: 3%;
  font-weight: bold;
  font-size: small;
}
header .logo {
  position: relative;
  top: 1px;
  width: auto;
  border-radius: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  font-family: 'Trebuchet MS', sans-serif;
  position: absolute;
  bottom: 0%;
  background-color: #980000;
  height: 65px;
  width: 100%;
  border-top: 3px solid whitesmoke;
}

footer .desenvolvido p {
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --- inicial --- */

.header-inicial {
  background-color: #c41212;
  padding: 3%;
  border-bottom: 3px solid whitesmoke;
}

main .fundo-inicial img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
}

main .texto-inicial h1 {
  font-size: 80px;
  margin-right: 40%;
  margin-top: 2%;
  margin-bottom: 8%;
  margin-left: 10%;
}

/* --- cadastro --- */

main #cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #cadastro #formulario-cadastro .logo img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

main #cadastro #formulario-cadastro {
  background-color: #ffdada;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  padding: 25px;
  padding-inline: 30px;
  padding-block: 18px;
  margin-top: 30%;
  padding-top: 70px;
}

main #cadastro #formulario-cadastro .nome_usuario input {
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 8%;
  padding-inline: 20px;
  padding-block: 12px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #cadastro #formulario-cadastro .email input {
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 8%;
  padding-inline: 20px;
  padding-block: 12px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #cadastro #formulario-cadastro .NIF input {
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 8%;
  padding-inline: 20px;
  padding-block: 12px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #cadastro #formulario-cadastro .senha input {
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 8%;
  padding-inline: 20px;
  padding-block: 12px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #cadastro #formulario-cadastro .botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main #cadastro #formulario-cadastro .botoes .cadastre-se input {
  right: 50%;
  border-style: none;
  background-color: #ff2424;
  border-radius: 15px;
  border-color: transparent;
  padding: 13px;
  color: #ffffff;
  font-size: medium;
  margin-top: 8px;
  font-family: "Trebuchet MS", sans-serif;
}

main #cadastro #formulario-cadastro .botoes .login button {
  display: flex;
  right: 20%;
  position: relative;
  border-style: none;
  background-color: transparent;
  border-radius: 15px;
  border-color: transparent;
  padding: 15%;
  color: #980000;
  text-decoration: underline;
  font-size: medium;
  margin-top: 5px;
  font-family: "Trebuchet MS", sans-serif;
}

main #cadastro #formulario-cadastro .cadastre-se input:hover {
  background-color: #ff5353;
}

main #cadastro #formulario-cadastro .login input:hover {
  color: #973030;
}

/* --- login --- */

main #login {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #login #formulario-login .logo img {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

main #login #formulario-login {
  background-color: #ffdada;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  padding: 25px;
  padding-inline: 30px;
  padding-block: 15px;
  margin-top: 45%;
  padding-top: 70px;
}

main #login #formulario-login .email input {
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 8%;
  padding-inline: 20px;
  padding-block: 12px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #login #formulario-login .senha input {
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 8%;
  padding-inline: 20px;
  padding-block: 12px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #cadastro #formulario-login .botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main #login #formulario-login .botoes .login input {
  width: 100%;
  border-style: none;
  background-color: #ff2424;
  border-radius: 15px;
  border-color: transparent;
  padding: 15%;
  color: #ffffff;
  font-size: medium;
  margin-top: 8px;
  font-family: "Trebuchet MS", sans-serif;
}

main #login #formulario-login .botoes .cadastre-se button {
  border-style: none;
  background-color: transparent;
  border-radius: 15px;
  border-color: transparent;
  padding: 0%;
  color: #980000;
  text-decoration: underline;
  font-size: medium;
  margin-bottom: 10px;
  margin-top: 12px;
  font-family: "Trebuchet MS", sans-serif;
}

main #login #formulario-login .botoes .login input:hover {
  background-color: #ff5353;
}

/* --- principal --- */

.logo img {
  position: absolute;
  top: 10%;
  left: 8.8%;
  transform: translate(-50%, -50%);
  width: 190px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

.campos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  max-height: 520px;
  font-family: "Trebuchet MS", sans-serif;
}

.campos .usuario button {
  border: solid #d64141;
  padding: 9px 9px;
  background-color: #ff9797;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
}

.campos .barraesquerda .usuario button img {
  width: 20%;
  height: auto;
}

.campos .barraesquerda .usuario button p {
  font-size: 13px;
  width: 20%;
  margin-left: 8px;
  margin-top: 5px;
  color: whitesmoke;
  font-weight: bold;
}

.campos .barraesquerda .usuario button p:nth-of-type(2) {
  font-size: 10px;
  width: 100%;
  color: whitesmoke;
  font-weight: bold;
  margin-left: 17%;
}

.campos .salasreservadas button {
  border: solid #d64141;
  padding: 10px 10px;
  background-color: #ff9797;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
}

.campos .barraesquerda .salasreservadas button img {
  width: 20%;
  height: 24%;
}

.campos .barraesquerda .salasreservadas button p {
  font-size: 13px;
  width: 20%;
  margin-left: 8px;
  margin-top: 5px;
  color: whitesmoke;
  font-weight: bold;
}

.barraesquerda,
.meio,
.barradireita {
  background-color: #ff7f7f;
  border-radius: 40px;
  padding: 20px;
  margin: 10px;
}
.barraesquerda {
  flex: 1;
  max-width: 200px;
  margin-top: 120px;
  background-color: #ffb8b8;
  border: solid #ff6666;
  border-width: 8px;
}
.meio {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #ffb8b8;
  border: solid #ff6666;
  border-width: 8px;
}
.barradireita {
  flex: 1;
  max-width: 300px;
  margin-top: 50px;
  background-color: #ffb8b8;
  border: solid #ff6666;
  border-width: 8px;
}
.salas {
  background-color: #eb8796;
  border-radius: 30px;
  padding: 20px 10px;
  margin: 10px 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.salas div span {
  font-size: 10px;
  background-color: #d64141;
  border-radius: 15px;
  padding: 8px 8px;
  margin: 5px;
  width: 100%;
  height: 100%;
  text-align: start;
  font-weight: bold;
}

.salas h2 {
  margin: 0 0 10px 0;
  background-color: #ff6666;
  border-radius: 15px;
  padding: 3px 3px;
  margin: 5px;
  width: 100%;
  font-size: 16px;
}

.salas div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dias {
  background-color: #eb8796;
  border-radius: 30px;
  padding: 20px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.dias div span {
  background-color: #d64141;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  font-size: 10px;
}

.dias h2 {
  margin: 0 0 10px 0;
  background-color: #ff6666;
  border-radius: 15px;
  padding: 5px 5px;
  margin: 5px;
  width: 100%;
  font-size: 16px;
}

.dias div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.horarios {
  background-color: #eb8796;
  border-radius: 30px;
  padding: 20px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.horarios div span {
  background-color: #d64141;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  font-size: 10px;
}

.horarios h2 {
  margin: 0 0 10px 0;
  background-color: #ff6666;
  border-radius: 15px;
  padding: 5px 5px;
  margin: 5px;
  width: 100%;
  font-size: 16px;
}

.horarios div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* --- perfil --- */

main #perfil #formulario-perfil .logo img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

main #perfil #formulario-perfil {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  padding-inline: 150px;
  padding-block: 18px;
  margin-top: 10%;
  padding-top: 70px;
}

main #perfil #formulario-perfil .nome_usuario input {
  background-color: #dbdbdb;
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-inline: 10px;
  padding-right: 100px;
  padding-block: 15px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #perfil #formulario-perfil .email input {
  background-color: #dbdbdb;
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-inline: 10px;
  padding-right: 100px;
  padding-block: 15px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #perfil #formulario-perfil .NIF input {
  background-color: #dbdbdb;
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-inline: 10px;
  padding-right: 100px;
  padding-right: 100px;
  padding-block: 15px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #perfil #formulario-perfil .senha input {
  background-color: #dbdbdb;
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-inline: 10px;
  padding-right: 100px;
  padding-block: 15px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #perfil #formulario-perfil .botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main #perfil #formulario-perfil .botoes .editar button {
  right: 50%;
  border-style: none;
  background-color: transparent;
  border-radius: 15px;
  border-color: transparent;
  padding: 13px;
  color: #b11010;
  font-size: medium;
  margin-top: 8px;
  font-family: "Trebuchet MS", sans-serif;
}

/* --- atualizar - perfil --- */

main #atualizar-perfil #formulario-atualizar-perfil .logo img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

main #atualizar-perfil #formulario-atualizar-perfil {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  padding-inline: 150px;
  padding-block: 18px;
  margin-top: 10%;
  padding-top: 70px;
}

main #atualizar-perfil #formulario-atualizar-perfil .nome_usuario input {
  background-color: #dbdbdb;
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-inline: 10px;
  padding-right: 100px;
  padding-block: 15px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #atualizar-perfil #formulario-atualizar-perfil .email input {
  background-color: #dbdbdb;
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-inline: 10px;
  padding-right: 100px;
  padding-block: 15px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #atualizar-perfil #formulario-atualizar-perfil .NIF input {
  background-color: #dbdbdb;
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-inline: 10px;
  padding-right: 100px;
  padding-right: 100px;
  padding-block: 15px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #atualizar-perfil #formulario-atualizar-perfil .senha input {
  background-color: #dbdbdb;
  border-style: none;
  margin-bottom: 10px;
  border-radius: 15px;
  padding-inline: 10px;
  padding-right: 100px;
  padding-block: 15px;
  font-size: medium;
  font-family: "Trebuchet MS", sans-serif;
}

main #atualizar-perfil #formulario-atualizar-perfil .botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main #atualizar-perfil #formulario-atualizar-perfil .botoes .atualizar input {
  right: 50%;
  border-style: none;
  background-color: #ff2424;
  border-radius: 15px;
  border-color: transparent;
  padding: 13px;
  color: #ffffff;
  font-size: medium;
  margin-top: 8px;
  font-family: "Trebuchet MS", sans-serif;
}

main
  #atualizar-perfil
  #formulario-atualizar-perfil
  .botoes
  .atualizar
  input:hover {
  background-color: #ff5353;
}
